body{font-family:Verdana,Microsoft Yahei;line-height:130%;}
.bdy{;}
.ctn{;}

/* 单词头 */
.hwd{font-size:120%;font-weight:bold;color:Crimson;}

/* 上横线，下横线 */
.hrz{height:1px;border-top:1px dotted Crimson;}
.hr2{height:1px;border-top:1px dotted Crimson;display:none}

/* 单词释义正文的 div 分组 */
.git{;}

/* 音标，这里要设置字体，上面 body 默认定义的 Verdana/雅黑 在 GoldenDict 里显示音标显示不全 */
.ipa{color:Sienna;font-family:Tahoma, Verdana, "Lucida Sans Unicode", "Segoe UI", "Palatino Linotype", "Arial Unicode MS", sans-serif;}


/* 音标后面的减号横线 */
.hnt{color:gray;margin-left:5px;}


/* 牛津 3000，默认用了一个类似雪花的标志，如果你不喜欢可以把下面二三两行注释打开，并在第三行 content 改为你想要的符号 */
.oxf{font-family:Microsoft Yahei;font-size:90%;font-weight:bold;margin-right:3px;}
/* .oxf span {display:none;} */
/* .oxf::before{content:"#";} */

/* 柯林斯星星 */
.col{color:Orange;}

.tag{color:Purple;}
.gde{;}
.deb{;}

.den{;}
.gdc{margin-top:5px;}

/* 每一行释义的 div */
.dcb{;}

/* 词性，adj. / v. / adv. 等 */
.pos{font-family:Georgia;font-style:italic;font-weight:bold;color:Navy;}

/* 释义非词性正文 span */
.dcn{font-family:Microsoft Yahei;font-size:90%;color:black;}

/* 释义 [网络] 前缀，如 a cup of tea 包含网络释义 */
.dnt{font-family:Microsoft Yahei;font-size:90%;color:gray;}

/* 释义 [网络] 正文 */
.dne{font-family:Microsoft Yahei;font-size:90%;color:gray;}

/* 释义 例句 span，Urban Dictionary 部分导入词汇有例句，如 Yoga Pants */
.deq{font-family:Microsoft Yahei;font-size:90%;color:gray;}

/* 词形变换（时态，级别，原型）的整体 div */
.gfm{margin-top:5px;}

/* 时态 div */
.fmb{;}

/* [时态] 两个字的 span */
.fnm{font-family:Microsoft Yahei;font-size:90%;color:Navy;}

/* [时态] 后面正文 span */
.frm{font-family:Tahoma;color:Teal;font-size:90%;margin-left:5px;}

/* [级别] 两个字的 span */
.qnm{font-family:Microsoft Yahei;font-size:90%;color:Navy;}

/* [级别] 后面正文 span */
.qrm{font-family:Tahoma;color:Teal;font-size:90%;margin-left:5px;}

/* [原型] 两字的 span */
.onm{font-family:Microsoft Yahei;font-size:90%;color:Navy;}

/* [原型] 后面正文 span */
.orm{font-family:Tahoma;color:Teal;font-size:90%;margin-left:5px;}

/* 考试大纲和词频的 div */
.frq{font-family:Microsoft Yahei;font-size:90%;color:Purple;margin-top:5px;}


